body{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
}
h1{
    font-size: 30px;
    margin: 30px 20px 40px;
    font-weight: normal;
}
h1 span{
    font-size: 20px;
}
h1 span b{
    font-weight: normal;
    font-size: 12px;
    color: #aaa;
}

.url-select{
    margin-bottom: 30px;
    margin-left: 20px;
}
.url-select select{
    font-size: 20px;
}
.results{
    margin-top: 50px;
}

.results div{
    line-height: 24px;
    margin-left: 20px;
}
#submit{
    padding: 10px 15px;
    background: #334ED4;
    color: #fff;
    border-radius: 5px;
    border: 0px;
    margin-left: 20px;
}

.block > .body{
    margin-left: 30px;
    display: none;
}
.block.view > .body{
    display: block;
}
.header, .action{
    position: relative;
    padding: 5px 10px 5px 25px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: 3px;
    white-space: nowrap;
}
.action{
    white-space: normal;
    height: auto;
}
.block > .header.snap::after{
    content: "+";
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: 12px;
    left: 9px;
    line-height: 10px;
    pointer-events: none;
}
.block.view > .header.snap::after{
    content: "-";
}

div[result="1"]    {background: #aaddbb;}
div[result="0"]    {background: #FFBAD1;}
div[result="skip"] {background: #cccccc;}

